{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}}
{% endblock %}

{% block title %} {{ "setting.label"|trans }} {% endblock %}


{% block content_header %}
    <div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ "setting.label"|trans }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">{{ "setting.label"|trans }}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-warning mx-auto">
                <!-- /.card-header -->
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>{{ "form.lastname"|trans }}</label>
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>E-mail</label>
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button type="submit" class="w-100 btn btn-primary">{{ "edit"|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-warning mx-auto">
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-form-label" for="inputSuccess">{{ "number"|trans }}</label>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <input disabled value="{{ user.number }}" type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                                <a href="{{ path('app_number_register') }}" class="w-100 btn btn-primary">{{ "edit"|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}
