{% extends "base.html.twig" %}

{% block content %}
    <div class="register-box border border-secondary mx-auto">
        <div class="card card-outline card-secondary mx-auto mh-100 p-4">

            {% for flash_error in app.flashes('errors') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="card-header text-center">
                <h4>Code de vérification</h4>
            </div>

            {{ form_start(form) }}
                <div class="input-group mb-3 flex-nowrap">
                    {{ form_row(form.code) }}
                </div>
                <div class="row">
                    <div class="col-12 my-2">
                        <button type="submit" class="btn btn-primary btn-block">{{ 'btn.validate'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
