{% extends "base.html.twig" %}

{% block title %}
    {{ 'register.number'|trans }}
{% endblock %}


{% block content %}
    <div class="register-box mx-auto p-3">
        <div class="card card-outline card-secondary mx-auto mh-100">
            <div class="card-title text-center my-3 text-bold">
                <div>{{ 'number_register_title'|trans }}</div>
            </div>
            <div class="card-body">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
                {{ form_start(form) }}
                <div class="input-group mb-3 flex-nowrap">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-flag"></span>
                        </div>
                    </div>
                    {{ form_row(form.countryCode) }}
                </div>
                <div class="input-group mb-3 flex-nowrap">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            +33
                        </div>
                    </div>
                    {{ form_row(form.number) }}
                </div>
                <div class="row">
                    <div class="col-12 my-3">
                        <button type="submit" class="btn btn-primary btn-block">{{ 'btn.register'|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

