{% extends "base_auth.html.twig" %}

{% block title %}
    Connexion
{% endblock %}


{% block content %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <p class="login-box-msg">{{ "account.connexion"|trans }}</p>
    <form action="{{ path('app_login') }}" method="post">
     <div class="input-group mb-3">
            <input class="form-control" placeholder="Email"  type="text" id="username" name="_username" value="{{ last_username }}" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input class="form-control" placeholder="{{ "password"|trans }}" type="password" id="password" name="_password" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 my-3">
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.login.title'|trans }}</button>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
                <a class="w-100 btn btn-danger" href="{{ path('app_register') }}">Créer un compte</a>
            </div>
        </div>
        <div class="row mt-3 mt-md-0">
            <div class="col">
                <a href="{{ path('app_reset_password') }}">{{ 'password_forget.link_title'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}

