{% extends "base_auth.html.twig" %}

{% block content %}
    {% if not isSubmit %}
        {{ form_start(form) }}
        <div class="row">
            <h4 class="col text-center">{{ 'password_forget.title'|trans }}</h4>
        </div>
        {{ form_row(form.email) }}
        <div class="row">
            <div class="col-12 my-3">
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.reset_password.title'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-success">{{ 'password_forget.confirm'|trans }}</div>
    {% endif %}
{% endblock %}
