{% extends "base_auth.html.twig" %}

{% block title %}
    {{ "password_forget.reset.title"|trans }}
{% endblock %}


{% block content %}
    <p class="login-box-msg">{{ "password_forget.reset.title"|trans }}</p>
    {{ form_start(form) }}
        {{ form_row(form.password) }}
        <div class="row">
            <div class="col-12 my-3">
                <button type="submit" class="btn btn-primary btn-block">{{ 'password_forget.reset.btn_title'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

