{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}}
{% endblock %}

{% block content_header %}
    <div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">SMS</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item active">Sms</li>
                </ol>
            </div><!-- /.col -->
        </div>
    </div>
{% endblock %}


{% block content %}
    {% if not app.user.number %}
        <div class="row">
            <div class="alert alert-warning col-12">
                {{ "token.warning"|trans }}
                <a class="text-primary ml-2" href="{{ path('app_number_register') }}">{{ "btn.number.register"|trans }} ?</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                           Token
                        </h4>
                    </div>
                </a>
                <div data-parent="#accordion" style="">
                    <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                        <div class="my-3">
                            <a aria-disabled="true" href="{{ path('app_user_generate_token') }}" class="{{ app.user.number ?: "disabled"}} btn btn-primary">
                                {{ "btn.generate_token"|trans }}
                            </a>
                        </div>

                        {% if app.user.accessToken %}
                            <div {{ vue_component('TokenGenerator', {token: app.user.accessToken}) }}></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/sms_message_table.html.twig' %}
{% endblock %}


